<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Účtenka</title>

    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{$basePath}/css/AdminLTE.css">
    <link rel="stylesheet" href="{$basePath}/css/_all-skins.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script type="application/javascript" src="{$basePath}/js/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="application/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/bootstrap-datepicker.min.js"></script>
    <script src="{$basePath}/js/bootstrap-datepicker.cs.min.js"></script>
    <link rel="stylesheet" href="{$basePath}/node_modules/jvectormap/jquery-jvectormap.css">
    <script src="{$basePath}/js/Chart.js"></script>

    <script src="{$basePath}/js/netteajax.js"></script>
    <link rel="icon" href="{$basePath}/favicon.ico">
    {block sheets}{/block}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include navbar.latte}
    {include sidebar.latte}
    <div class="content-wrapper">
        {include topbar.latte}
        <section class="content">
            {include content}
        </section>
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Verze</b> {$appVersion} (build {$build})
        </div>
        <strong><i class="fa fa-copyright"></i> {date("Y")}
    </footer>
    {block scripts}

        <script src="{$basePath}/js/core.js"></script>
    {/block}
</div>
<script src="{$basePath}/js/fastclick.js"></script>
<script src="{$basePath}/node_modules/jvectormap/jquery-jvectormap.js"></script>
<script src="{$basePath}/js/Chart.js"></script>
<script src="{$basePath}/js/adminlte.js"></script>
<script src="{$basePath}/js/dashboard2.js"></script>
</body>
</html>
